#offcanvasNavbar {
    width: 20em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card {
    color: white;
    background-color: #212529;
}

.card img {
    height: 10em;
}
