body {
    background-color: #eaeaea;
    color: #3f3f3f;
}

#offcanvasNavbar {
    width: 20em;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.card {
    color: #ffffff;
    background-color: #6C757D;
}

.card img {
    height: 10em;
}

.navigations-menu {
    border-radius: 10px 0 0 10px;
}

footer {
    background-color: #6C757D;
}

.list-unstyled a {
    color: #72a7d5;
    text-decoration: none;
    font-weight: 500;
}

.list-unstyled a:hover {
    color: rgb(244, 244, 245);
}
